@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sedgwick+Ave+Display&display=swap');

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

} */

:root{
  --s-primary: #ef4a23;
  --s-secondary: #3749bb;
  --s-hf-bg: #081621;
  --s-b-bg: #f2f4f8;
  --s-m-bg: #6e2594;
  --s-s-bg: rgba(55,73,187,.05);
  --s-f-c1: #666;
  --s-f-c2: #fff;
}

body{

  /* background-color: #dadada; */
  
  transition: 0.3s ease-in-out;
  font-family: "Lato", sans-serif;
  /*  font-family: "Sedgwick Ave Display", cursive; */


  background-color: var(--s-hf-bg);
  color: var(--s-f-c2);
}


.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.move-button:hover{
  border: 3px solid #fff;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.reset-score-button:hover, .auto-play-button:hover{
  border-radius: 50px;
}